@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');
* {
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 800;
    background-color: blanchedalmond;
}

p {
    font-size: 1.6rem;
}

/* Make header fixed position */

nav {

    position: fixed;
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 2rem;
}

#about {
    padding: 1.5rem;
}

div p {
    text-align: center;
}

#classes {
    width: 100%;
    display: inline-block;
}

#joinus {
    padding: 8rem;
    margin: auto;
    width: 50%;

}

#hero-image {
    width: 100%;
}

#findus {
    float: right;
    margin: 2rem;
    padding: 2rem;
}

/* footer with social media links */

footer {
    bottom: 0;
    padding: 0;
    margin: 0;
}

footer li {
    list-style: none;
    display: inline-block;
    margin: 0;
}